.App{
  background: #18191A;
  color:white;
  padding: 5%;
}
.sideBarInfo{
  width: 30.3%;
  height: 100vh;
  display: inline-block;
  position: fixed;
  left: 0;
  top: 0;
  margin-left:  3%;
  background-color: #02020288;
}
.area{
  display:grid;
  grid-template-columns: 4fr 8fr;
  grid-gap: 2vw;
}
a{
  color: white !important;
}
a:hover{
  color: rgb(110, 110, 110) !important;
}
.hoverable{
  cursor: pointer !important;
}