.social{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    
}
.btn-large{
    width: 90% !important;
    background: white !important;
    color: black !important;
    margin: 0 auto;
}

.btn-large:hover{
    width: 100% !important;
    background: rgba(255, 255, 255, 0.583) !important;
    color: black !important;
}